body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-image: url('https://imgur.com/3FvpTxs.png');
}

.container {
    max-width: 790px;
    margin: 0 auto;
    padding: 20px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	border: 1px solid #ccc;
}

h1 {
    color: #FFFFFF;
    margin-top: 10;
}

p {
    color: #FFFFFF;
}

.profile-pic {
    max-width: 300px;
    border-radius: 30%;
    margin-bottom: 10px;
	margin-top: 20px;
}

/* About Me Block */
.about-me {
    margin-top: 10px;
    padding: 20px;
    border-radius: 5px;
}

.about-me h2 {
    color: #FFFFFF;
}

.about-me p {
    color: #FFFFFF;
}

/* Connections Block */
.connections {
    margin-top: 50px;
    padding: 0px;

    border-radius: 5px;
	
	
}

.connections h2 {
    color: #f9f9f9;
}

.connections .connection {
    margin: 20px 0;
	
}

.connections .connection a {
    text-decoration: none;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 10px;
    display: inline-block;
	width: 170px;
    height: 30px;
}

.connections .connection a:hover {
    background-color: #900C3F;
}

.connections .connection a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: inline-block;
    background: linear-gradient(to bottom, #000000, #900C3F );
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
}

.connections .connection a:hover {
    background: linear-gradient(to bottom, #900C3F, #096EA0 );
    transform: translateY(-2px);
}

#load-more-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #178FCB ;
    color: #fff;
    border: none;
    cursor: pointer;
}

.contact-button-wrapper {
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  position: relative;
}
.contact-button-wrapper.contact-button-wrapper-dark {
  background-color: #333;
  padding-top: 5px;
  padding-bottom: 5px;
}
.contact-button {
  cursor: pointer;
  border: 1px solid #e4e4e4;
  flex: none;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px 13px 9px;
  font-weight: 400;
  transition: all 0.2s;
  display: flex;
  position: relative;
  background-color: #000000;
}
.contact-button:hover {
  border-color: #b6b6b6;
}
.contact-button:focus {
  border: 1px solid #e4e4e4;
}
.contact-button.contact-button-dark {
  color: #fff;
  border-color: #929292;
}
.contact-button.contact-button-dark:hover {
  border-color: #fff;
}
.contact-button.contact-button-colorful {
  background-color: #f4f4f7;
  border-style: none;
  padding: 11px 14px 10px;
}
.contact-button.contact-button-colorful:hover {
  background-color: #e5e5e8;
}
.contact-button.contact-button-colorful.contact-button-colorful-dark {
  color: #fff;
  background-color: #242424;
}
.contact-button.contact-button-colorful.contact-button-colorful-dark:hover {
  background-color: #141414;
}
.contact-button.contact-button-colorful.contact-button-colorful-void {
  color: #fff;
  background-color: #0e0e0e;
}
.contact-button.contact-button-colorful.contact-button-colorful-void:hover {
  background-color: #000;
}
.contact-button.contact-button-colorful.contact-button-colorful-void.contact-button-colorful-void-round,
.contact-button.contact-button-round {
  border-radius: 20px;
}
.contact-button-image {
  height: 18px;
  margin-right: 10px;
  position: relative;
}
.contact-button-image.contact-button-image-dark {
  filter: invert();
}
.contact-button-text {
  text-align: center;
  white-space: nowrap;
  line-height: 1em;
  position: relative;
}



}

   .music {
            text-align: center;

			
        }

        .song {

            border: 1px solid #ccc;
	    background: linear-gradient(to bottom, #000000, #900C3F );
            padding: 20px;
            margin: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: center;
			
        }

        .song img {

            width: 100px;
            height: 100px;
            border-radius: 5px;
            margin-right: 20px;
        }

        .song h2 {

            font-size: 20px;
            margin: 0;
			    color: #f4f4f7;

			
        }

		
        audio {
            width: 100%;
            max-width: 400px;
            margin-top: 10px;

        }




/* Gallery Block */
.gallery {
    margin-top: 30px;
	    margin-top: 30px;
    padding: 20px;

    border-radius: 5px;
	
}

.gallery h2 {

    color: #FFFFFF;
}

.gallery img {
	
    max-width: 300px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Accomplishments Block */
.accomplishments {
    margin-top: 30px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.accomplishments h2 {
    color: #333;
}

.accomplishments ul {
    list-style-type: disc;
    text-align: left;
    padding-left: 20px;
    color: #666;
}

#loadButton {
    background: linear-gradient(to bottom, #000000, #900C3F );
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
	margin-left: center;
	margin-top: 10px;
}

#loadButton:hover {
   background: linear-gradient(to bottom, #900C3F, #096EA0 );
}


#loadMoreConnections {
    background: linear-gradient(to bottom, #000000, #900C3F );
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
	margin-left: center;
	margin-top: 10px;
}

#loadMoreConnections:hover {
    background: linear-gradient(to bottom, #900C3F, #096EA0 );
}



        .connection img {
            width: 30px;
            height: 30px;
	margin-bottom: -9px;
	
		}
		
hr {
    border: 1px solid #ccc; /* Border style, color, and width */
    margin: 20px 0; /* Adjust spacing as needed */
}		
	
		.section-border {
    border: 1px solid #ccc; /* Border style, color, and width */
    padding: 20px; /* Add padding for spacing inside the sections */
    margin: 20px 0; /* Adjust spacing as needed */
}
	
		
		